body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

		section{
			margin-bottom: 10px;

		}
		.closed{
			color : red;
			text-decoration: line-through;;
			font-style: italic;
			font-weight: bold;
		}
		ol{
			list-style: none;
			width: 500px;
			-webkit-padding-start : 0px;
		}
		.stats, .bugname{
			font-size: 22pt;
		}
		li{
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 5px;
			border-radius: 5px;
			margin-bottom: 10px;

		}
		.bugname{
			cursor: pointer;
		}
		.datetime{
			font-style: italic;
			text-align  : right;
		}